---
import Layout from "../layouts/Layout.astro";
---

<Layout title="comingsoon">
  <div
    class="h-screen text-center items-center w-screen relative overflow-hidden"
  >
    <div
      class="z-20 absolute h-screen flex items-center justify-center w-screen"
    >
      <h1 class="text-white drop-shadow-lg">Coming soon</h1>
    </div>

    <div
      class=" w-full"
    >

      
      
      <img class="object-cover h-screen top-0 left-0  w-screen" src="https://images.unsplash.com/photo-1488330890490-c291ecf62571" alt="">
    </div>
  </div>
</Layout>
