---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Home">
  <div class="flex bg-black">
    <div class="  bg-black text-2xl  h-screen font-mono flex text-white flex-col  gap-4 ">
		<img class="object-fill h- w-full" src="https://i.pinimg.com/originals/97/da/81/97da81bf307c0036b78b48983f738c4f.gif" alt="">

		
		

	</div>
    <div class="p-4 text-white bg-black">

		<div class="fixed left-0 bottom-20 p-2 bg-black w-20 text-transparent">f</div>


      <h1 class="font-bold italic">GL Technologies</h1>
      <h3 class="italic py-4 font-mono">Portfolio companies</h3>

      <div class="grid grid-cols-3 gap-3">
        <a
          href="https://greenlines.pro/landing"
          target="_blank"
          class="group relative"
        >
          <div
            class="p-10 border block font-mono border-gray-900 shadow-md  relative z-10 bg-black  group-hover:translate-x-1 group-hover:-translate-y-1 transition-all"
          >
            Greenlines.pro
          </div>
          <div
            class="bg-gradient-to-tr from-green-600 to-cyan-600 block p-10 absolute w-44 top-0 z-5 group-hover:-translate-x-1 group-hover:translate-y-1 transition-all"
          >
            m
          </div>
        </a>

        <a
          href="https://uibunny.club"
          target="_blank"
          class="group relative"
        >
          <div
            class="p-10 border block font-mono border-gray-900 relative z-10 bg-black group-hover:translate-x-1 group-hover:-translate-y-1 transition-all"
          >
            Uibunny.club
          </div>
          <div
            class="bg-gradient-to-tr from-pink-600 to-blue-500 block p-10 absolute w-44 top-0 z-5 group-hover:-translate-x-1 group-hover:translate-y-1 transition-all"
          >
            m
          </div>
        </a>

        <a
          href="https://gorillaterminal.com"
          target="_blank"
          class="group relative"
        >
          <div
            class="p-10 border text-sm block font-mono border-gray-900 relative z-10 bg-black group-hover:translate-x-1 group-hover:-translate-y-1 transition-all"
          >
            GorillaTerminal
          </div>
          <div
            class="bg-gradient-to-tl  text-sm font-mono from-blue-900 to-purple-600 block p-10 absolute w-44 top-0 z-5 group-hover:-translate-x-1 group-hover:translate-y-1 transition-all"
          >
		  
		  GorillaTerminal
          </div>
        </a>
      </div>
	  <div class="mt-3 bottom-5 right-5 fixed text-xs">
		<a class="flex gap-1 font-mono underline" href="mailto:team@gorillaterminal.com"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
			<path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
		  </svg>
		  <p>Contact</p>
		</a>


	  </div>
    </div>
  </div>
</Layout>

<style>

</style>