---
export interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<a href={href} target="_blank" class="group relative">
  <div
    class="p-10 border block font-mono border-gray-900 relative z-10 bg-white group-hover:translate-x-1 group-hover:-translate-y-1 transition-all"
  >
    {title}
  </div>
  <div
    class="bg-gradient-to-tr from-pink-600 to-blue-500 block p-10 absolute w-44 top-0 z-5 group-hover:-translate-x-1 group-hover:translate-y-1 transition-all"
  >
    m
  </div>
</a>
